<div class="container">
  <h2>Postagens</h2>

  <form>
    <input [(ngModel)]="post.titulo" name="titulo" placeholder="Título" required>
    <textarea [(ngModel)]="post.texto" name="texto" placeholder="Texto" required></textarea>
    <input [(ngModel)]="post.tema" name="tema" placeholder="Tema" required>

    <button (click)="cadastrar()">Cadastrar</button>
    <button (click)="atualizar()">Atualizar</button>
  </form>

  <div class="postagem" *ngFor="let postagem of listaPostagens">
    <h3>{{ postagem.titulo }}</h3>
    <p>{{ postagem.texto }}</p>
    <small>{{ postagem.tema }} | {{ postagem.data | date:'short' }}</small><br>

    <button (click)="selecionarPostagem(postagem)">Editar</button>
    <button (click)="deletar(postagem.id)">Deletar</button>
  </div>
</div>
